title: jig
description: Git worktree manager for parallel Claude Code sessions
baseurl: /jig
url: https://amiller68.github.io

theme: minima

markdown: kramdown
highlighter: rouge

exclude:
  - Gemfile
  - Gemfile.lock
